*{
    padding: 0px;
    margin: 0px
}
body{
    background-color: white;
   
    text-align: center;
}

button{
    padding: 10px 20px;
    margin-top: 15px;
    justify-content: center;
    border-radius: 50px;
    transition: opacity 0.3s ease;
}
button:hover{
    background-color: rgb(184, 184, 224);
}
.dark-mode{
    color: white;
    background-color: black;
}